body,html {
    overflow-x: hidden;
    background: var(--background);
    padding-bottom: 500px;
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(187, 187, 187);
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

    --white: #fff;
    --white-100: #ebe8e8;

    --black: #000;
    --grey-900: #2e2e2e; 
    

    --background: #F4F2EF;
    --orange: #FFC301;
    --red: #FF5F4F;
    --brown: #C57047;
    --brown-800: #583625;

    --green: #40c48d;
}

/* header */

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background);
}

.header_items {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: space-between;
}

.links img {
    width: 150px;
}

.links h2 {
    color: var(--white);
}

.links a {
    color: var(--brown-800);
    font-size: 11pt;
    font-weight: 600;
    transition: .3s;
}

.links a:hover {
    color: var(--orange);
}

.header_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_buttons .contact {
    width: 135px;
    padding: 11px;
    border-radius: 20px;
    font-size: 9pt;
    font-weight: 600;
    background: var(--red);
    color: var(--white);
    cursor: pointer;
    transition: .3s;
}

.header_buttons .contact:hover {
    transform: scale(1.03);
}

/* container */

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* cover */

.cover {
    width: 100%;
    height: 600px;
    background: url('../assets/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover_items {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cover_items h2 {
    font-size: 24pt;
    color: var(--white-100);
    margin-bottom: 10px;
}

.cover_items p {
    font-size: 11pt;
    color: var(--white-100);
    width: 530px;
    margin-bottom: 40px;
}

.cover_items button {
    width: 150px;
    padding: 12px;
    background: var(--orange);
    color: var(--white);
    font-size: 11pt;
    border-radius: 23px;
    transition: .3s;
    font-weight: 600;
    cursor: pointer;
}

.cover_items button:hover {
    width: 160px;
}

/* featured_products */

.featured_products {
    width: 1300px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filter_products {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
}

.filter_products h2 {
    font-size: 25pt;
    font-weight: 900;
    color: rgb(88, 54, 37);
    margin-bottom: 30px;
}

.filter_products a {
    width: 180px;
    padding: 7px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid rgb(219, 219, 219);
    align-items: center;
    border-radius: 24px;
    font-size: 10pt;
    font-weight: 600;
    padding-left: 15px;
    color: var(--grey-900);
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05); */
    transition: .3s;
}

.filter_products a:hover {
    width: 190px;
}

.filter_products a svg {
    width: 26px;
    height: 26px;
    stroke: var(--grey-900);
    margin-right: 9px;
}

.filter_products span {
    font-size: 16pt;
    color: var(--grey-900);
    margin-right: 9px;
}

.filter_selected {
    background: var(--orange);
    border: none;
    color: white;
    font-weight: bold;
    transition: .3s;
}

.grid_products {
    width: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 20px;
    align-items: flex-start;
}

.featured_big {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.featured_big_small {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featured_small {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.featured_card {
    width: 315px;
    background: var(--white);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.featured_card:hover {
    transform: scale(1.01);
}

.card_image {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image img {
    width: 100%;
}
.card_infos {
    margin-left: 20px;
    height: 100%;
    width: 200px;
}

.card_infos h2 {
    font-size: 11pt;
    color: var(--brown-800);
    line-height: 20px;
    font-weight: 600;
}

.price {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.price_title {
    color: #c9c9c9;
    font-weight: bold;
    font-size: 9pt;
}

.price_value {
    color: var(--green);
    font-weight: bold;
    margin-top: -5px;
    font-size: 9pt;
}

/* big card */

.featured_card_big {
    width: 648px;
    background: var(--white);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.card_image_big {
    width: 196px;
    height: 196px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image_big img {
    width: 100%;
}

.card_infos_big {
    margin-left: 20px;
    height: 190px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card_infos_big h2 {
    font-size: 20pt;
    color: var(--brown-800);
    line-height: 35px;
    font-weight: 600;
}

.price_big {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price_big_title {
    color: #c9c9c9;
    font-weight: bold;
    font-size: 20pt;
}

.price_big_value {
    color: var(--green);
    font-weight: bold;
    margin-top: -5px;
    font-size: 20pt;
}

/* see more */

.see_more {
    width: 315px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    color: #c9c9c9;
}

.see_more svg {
    width: 30px;
    height: 30px;
    stroke-width: 1.7;
    margin-left: 10px;
    stroke: #c9c9c9;
}

.see_more:hover {
    transform: scale(1.01);
}