body,html {
    overflow-x: hidden;
    background: var(--background);
}

*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(187, 187, 187);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

:root {

    --white: #fff;
    --white-100: #ebe8e8;

    --black: #000;
    --grey-900: #2e2e2e; 
    

    --background: #F4F2EF;
    --orange: #FFC301;
    --red: #FF5F4F;
    --brown: #C57047;
    --brown-800: #583625;

    --green: #40c48d;
}

/* header */

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background);
}

.header_items {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: space-between;
}

.links img {
    width: 150px;
}

.links h2 {
    color: var(--white);
}

.links a {
    color: var(--brown-800);
    font-size: 11pt;
    font-weight: 600;
    transition: .3s;
}

.links a:hover {
    color: var(--orange);
}

.header_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_buttons .contact {
    width: 135px;
    padding: 11px;
    font-size: 9pt;
    font-weight: 600;
    background: var(--red);
    color: var(--white);
    cursor: pointer;
    transition: .5s;
    border: 3px solid var(--background);
}

.header_buttons .contact:hover {
    border: 3px solid var(--red);
    background: var(--background);
    color: var(--red);
}

/* container */

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* cover */

.cover {
    width: 100%;
    height: 600px;
    background: url('../assets/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover_items {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cover_items h2 {
    font-size: 24pt;
    color: var(--white-100);
    margin-bottom: 10px;
}

.cover_items p {
    font-size: 11pt;
    color: var(--white-100);
    width: 530px;
    margin-bottom: 40px;
}

.cover_items button {
    width: 150px;
    padding: 12px;
    background: var(--orange);
    color: var(--white);
    font-size: 11pt;
    transition: .3s;
    font-weight: 600;
    cursor: pointer;
}

.cover_items button:hover {
    width: 160px;
}

/* featured_products */

.featured_products {
    width: 1300px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filter_products {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
}

.filter_products h2 {
    font-size: 25pt;
    font-weight: 900;
    color: rgb(88, 54, 37);
    margin-bottom: 30px;
}

.filter_products a {
    width: 190px;
    padding: 7px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid rgb(219, 219, 219);
    align-items: center;
    font-size: 10pt;
    font-weight: 600;
    padding-left: 15px;
    color: var(--grey-900);
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05); */
    transition: .3s;
}

.filter_products a:hover {
    width: 200px;
}

.filter_products a svg {
    width: 26px;
    height: 26px;
    stroke: var(--grey-900);
    margin-right: 9px;
}

.filter_products span {
    font-size: 16pt;
    color: var(--grey-900);
    margin-right: 9px;
}

.filter_selected {
    background: var(--orange);
    border: none;
    color: white;
    font-weight: bold;
    transition: .3s;
}

.grid_products {
    width: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 20px;
    align-items: flex-start;
}

.featured_big {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.featured_big_small {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featured_small {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 21px;
}

.featured_card {
    width: 315px;
    background: var(--white);
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
}

.featured_card:hover {
    transform: scale(1.005);
}

.card_image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image img {
    width: 100%;
}
.card_infos {
    margin-left: 20px;
    height: 100%;
    width: 200px;
}

.card_infos h2 {
    font-size: 11pt;
    color: var(--brown-800);
    line-height: 20px;
    font-weight: 600;
}

.price {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.price_title {
    color: #c9c9c9;
    font-weight: bold;
    font-size: 9pt;
}

.price_value {
    color: var(--green);
    font-weight: bold;
    margin-top: -5px;
    font-size: 9pt;
}

.featured_card span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
    color: var(--green);
    font-weight: 500;
    font-size: 25px;
    z-index: 99;
}

.featured_card span:hover {
    background: var(--white-100);
}


/* big card */

.featured_card_big {
    width: 648px;
    background: var(--white);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.01);
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
    position: relative;
}

.card_image_big {
    width: 196px;
    height: 196px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image_big img {
    width: 100%;
}

.card_infos_big {
    margin-left: 20px;
    height: 190px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card_infos_big h2 {
    font-size: 20pt;
    color: var(--brown-800);
    line-height: 35px;
    font-weight: 600;
}

.price_big {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price_big_title {
    color: #c9c9c9;
    font-weight: bold;
    font-size: 20pt;
}

.price_big_value {
    color: var(--green);
    font-weight: bold;
    margin-top: -5px;
    font-size: 20pt;
}

.featured_card_big span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
    color: var(--green);
    font-weight: 500;
    font-size: 35px;
    z-index: 99;
}

.featured_card_big span:hover {
    background: var(--white-100);
}

/* see more */

.see_more {
    width: 315px;
    background: var(--white);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    color: #c9c9c9;
}

.see_more svg {
    width: 30px;
    height: 30px;
    stroke-width: 1.7;
    margin-left: 10px;
    stroke: #c9c9c9;
}

.see_more:hover {
    transform: scale(1.01);
}

/* about us */

.about_us {
    width: 1300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about_title {
    width: 100%;
}

.about_title .light_title {
    font-weight: 400;
    font-size: 40pt;
    color: var(--brown-800);
}

.about_title .bold_title {
    font-size: 40pt;
    font-weight: 800;
    margin-top: -20px;
    color: var(--brown-800);
}

.image_section {
    margin-top: 80px;
    width: 1300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.image_section img {
    width: 400px;
    box-shadow: 20px -20px 0px 0px var(--brown-800);
    margin-right: 100px;
}

.image_text {
    margin-top: -25px;
}

.image_text h2 {
    font-size: 20pt;
    font-weight: 800;
    color: var(--brown-800);
    margin-bottom: 20px;
}

.image_text p {
    font-weight: 500;
    font-size: 10pt;
    color: var(--brown-800);
    width: 550px;
}

.image_text button {
    width: 250px;
    padding: 11px;
    background: var(--brown-800);
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
    transition: .5s;
    border: 3px solid var(--brown-800);
    margin-top: 20px;
}

.image_text button:hover {
    background: var(--back);
    color: var(--brown-800);
}

/* delivery */

.about_title_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 80px;
}

.about_title_right .light_title {
    font-weight: 800;
    font-size: 40pt;
    color: var(--brown-800);
}

.about_title_right .bold_title {
    font-weight: 400;
    font-size: 30pt;
    margin-top: -20px;
    color: var(--brown-800);
}

.delivery_section {
    width: 1300px;

    display: flex;
    justify-content: flex-end;
}

.delivery_section img {
    width: 400px;
    box-shadow: -20px -20px 0px 0px var(--brown-800);
    margin-left: 100px;
}

.delivery_text_section {
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.delivery_text_section h2 {
    font-size: 20pt;
    font-weight: 800;
    color: var(--brown-800);
}

.delivery_text_section .delivery_text {
    text-align: end;
    font-weight: 500;
    font-size: 10pt;
    color: var(--brown-800);
    width: 550px;
}

.delivery_time {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    color: var(--brown-800);
}

.delivery_time span {
    margin-left: 10px;
    font-weight: 600;
    color: var(--brown-800);
}

.delivery_type {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    color: var(--brown-800);
    margin-bottom: 20px;
}

.delivery_type span {
    margin-left: 10px;
    font-weight: 600;
    color: var(--brown-800);
}

.delivery_text_section button {
    width: 200px;
    padding: 11px;
    background: var(--brown-800);
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
    transition: .5s;
    border: 3px solid var(--brown-800);
    margin-top: 20px;
}

.delivery_text_section button:hover {
    background: var(--back);
    color: var(--brown-800);
}

/* contact form */

.contact_us {
    width: 1300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
}

.contact_infos {
    width: 500px;
    padding: 40px;
    background: var(--brown-800);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border-left: 10px solid var(--orange); */
    box-shadow: 20px -20px 0px 0px var(--orange);
    margin-right: 100px;
}

.contact_infos h2 {
    color: var(--white-100);
    font-size: 15pt;
    margin-bottom: 30px;
}

.contact_infos > .contact_infos_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.contact_infos_item span {
    font-size: 20px;
    font-weight: 200;
    color: var(--white-100);
    margin-right: 10px;
}

.contact_infos_item p {
    font-size: 10pt;
    color: var(--white-100);
}

.social_title {
    margin-top: 137px;
}

.contact_infos_social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ig_icon {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: var(--white);
    margin-right: 20px;
    transition: .3s;
}

.ig_icon:hover {
    transform: scale(1.04);
}

.ig_icon svg {
    width: 30px;
    height: 30px;
    stroke: var(--brown-800);
    stroke-width: 2;
}

.fb_icon {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: var(--white);
    transition: .3s;
}

.fb_icon:hover {
    transform: scale(1.04);
}

.fb_icon svg {
    width: 30px;
    height: 30px;
    stroke: var(--brown-800);
    stroke-width: 1.5;
}

.contact_form {
    width: 500px;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
}

.contact_form h2 {
    color: var(--brown-800);
    font-size: 15pt;
    margin-bottom: 10px;
}

.contact_form p {
    color: var(--brown-800);
    font-size: 11pt;
    font-weight: 600;
    margin-bottom: 40px;
}

.contact_form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact_form form label {
    font-weight: bold;
    color: var(--brown-800);
    font-size: 10pt;
}

.contact_form form input {
    width: 100%;
    padding: 11px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 3px solid var(--background);
    margin-left: -3px;
}

.contact_form form input:focus {
    border: 3px solid var(--brown-800);
}

.contact_form form textarea {
    width: 100%;
    padding: 11px;
    resize: none;
    height: 100px;
    border-radius: 4px;
    border: 3px solid var(--background);
    margin-left: -3px;
}

.contact_form form textarea:focus {
    border: 3px solid var(--brown-800);
}

.contact_form form button {
    width: 100%;
    padding: 19px;
    margin-top: 43px;
    cursor: pointer;
    background: var(--orange);
    font-weight: bold;
    color: var(--white);
    transition: .3s;
}

.contact_form form button:hover {
    transform: scale(1.01);
}

/* footer */

footer {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    padding-top: 40px;
    padding-bottom: 20px;
    box-shadow: 0px -5px 3px 0px rgba(0, 0, 0, 0.014);

}

.footer_items {
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.footer_column {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_column img {
    width: 150px;
}

.footer_column h2 {
    font-size: 12pt;
    margin-bottom: 10px;
    color: var(--brown-800);
}

.footer_column iframe {
    width: 100%;
}

.footer_column p {
    width: 280px;
    font-size: 10pt;
    font-weight: bold;
    color: var(--brown-800);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer_column p span {
    margin-right: 8px;
}

.footer_column a {
    font-size: 10pt;
    font-weight: 700;
    color: var(--brown-800);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
    margin-bottom: 5px;
}

.footer_column a:hover {
    color: var(--brown);
}

.footer_column a svg {
    width: 25px;
    height: 25px;
    stroke: var(--brown-800);
    stroke-width: 1.8;
    margin-right: 5px;
    transition: .3s;
}

.footer_column a:hover svg {
    stroke: var(--brown);
}

.footer_footer {
    width: 1300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_footer a {
    font-size: 10pt;
    font-weight: 600;
    color: var(--brown-800);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
}

.footer_footer a:hover {
    color: var(--brown);
}

/* cart_button */

.cart_button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--red);
    font-weight: bold;
    color: white;
    font-size: 9pt;
    z-index: 100;
    cursor: pointer;
    transition: .5s;
}

.cart_button:hover {
    padding-right: 30px;
}

/* cart_div */

#cart_item {
    position: fixed;
    right: -550px;
    top: 0;
    transition: .5s;
}

.side_cart {
    width: 380px;
    height: 100vh;
    padding: 20px;
    background: var(--white);
    border-left: 40px solid var(--orange);
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.header_cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header_cart .header_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.header_cart .header_title span {
    font-weight: bold;
    color: var(--brown-800);
    margin-right: 10px;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
    transition: .3s;
}

.header_cart .header_title span:hover {
    background: #ebe8e8;
}

.header_cart .header_title h2 {
    font-size: 14pt;
    color: var(--brown-800);
}

.body_cart hr {
    width: 100px !important;
    height: 1px !important;
    background: black !important;
    margin: 10px 0;
}

.body_cart {
    padding: 0 10px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto !important;
    padding-bottom: 20px;
}

.item_cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header_item_cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header_item_cart .name_item {
    font-weight: bold;
    font-size: 9pt;
    width: 200px;
    color: var(--brown-800);
}

.header_item_cart .price_item {
    font-weight: 600;
    font-size: 9pt;
    color: var(--green);
}

.body_item_cart {
    display: flex;
    margin: 5px 0px;
    font-weight: 500;
    color: #9c9c9c;
    font-size: 8pt;
}

.footer_item_cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_item_cart button {
    background: none;
    color: var(--red);
    font-weight: 600;
    font-size: 9pt;
    cursor: pointer;
    transition: .3s;
}

.footer_item_cart button:hover {
    color: #c94a3f;
    transform: scale(1.04);
}

.footer_item_cart .manage_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    width: 80px;
    color: #888888;
    font-weight: bold;
    font-size: 10pt;
}

.footer_item_cart .manage_items span {
    padding: 3px;
    font-size: 20px !important;
    background: #f3f3f3;
    border-radius: 4px;
    color: #888888;
    cursor: pointer;
    transition: .3s;
    margin-top: -3px;
}

.footer_item_cart .manage_items span:hover {
    background: #bdbdbd;
}

.footer_cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.item_footer_cart {
    width: 100%;
    display: flex;   
    justify-content: space-between;
    margin-bottom: 10px;
}

.item_footer_cart .name {
    font-weight: 600;
    color: #888888;
    font-size: 10pt;
}

.item_footer_cart .name_b {
    font-weight: bold;
    color: #535353;
    font-size: 11pt;
}

.item_footer_cart .value {
    font-weight: 600;
    color: #888888;
    font-size: 10pt;
}

.item_footer_cart .value_b {
    font-weight: bold;
    color: var(--green);
    font-size: 11pt;
}

.footer_cart button {
    width: 100%;
    padding: 12px;
    background: #43e09f;
    color: var(--white);
    font-weight: bold;
    font-size: 9pt;
    cursor: pointer;
    transition: .3s;
}

.footer_cart button:hover {
    background: #32a374;
}


